<html>
  <head>
    <title></title>
    <link rel = 'stylesheet' href="/css/style.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <meta name="google-signin-client_id" content=<%=clientId%>
  </head>
  <body>
    <div class ="hero">
      <!-- Parent center form element -->
      <div class ="form-box">
        <!-- Login Btn -->
        <div class ="button-box">  
          <button type="button"  class="toggle-btn" onclick="login()">Login</button>
        
          <!-- <div id = "btn"> -->
            <button type="button"  class="toggle-btn" onclick="register()">Register</button>
          <!-- </div> -->
        </div>

        <form id ="login" class ="input-group">
          <input type = "text" class = "input-field" placeholder="User Id" required>

          <input type = "text" class = "input-field" placeholder="Enter Password" required>
          
          <input type = "checkbox" class = "check-box">
          
          <span>Remember Password</span>
          
          <button type = "submit" class = "submit-btn">Login</button>
        </form>

        <form id ="register" class ="input-group">

          <input type = "text" class = "input-field" placeholder="User Id" required>

          <input type = "email" class = "input-field" placeholder="Email Id" required>

          <input type = "text" class = "input-field" placeholder="Enter Password" required>

          <input type = "checkbox" class = "check-box">
          
          <span>I agree to the terms & conditions</span>
          
          <button type = "submit" class = "submit-btn">Register</button>

        </form>

        <!-- <div class="social-icons">
          <img src ="gp.png">
        </div> -->
      
        <div id="g_id_onload"
     data-client_id="629121447676-n0pl4m2qpkf92m5ibtnerlccfk991763.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:3000/"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>

      </div>
      
      <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register(){
          x.style.left = "-400px";
          y.style.left = "50px";
          z.style.left = "110px";
        }
        function login(){
          x.style.left = "50px";
          y.style.left = "450px";
          z.style.left = "0";
        }

        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
        onSignIn()
      </script>
  </body>
</html>